.body {

  color: $main-color
}

.suptitle {
  font-size: 14px;
  background: #E7E8E3;
  border-radius: 32px;
  line-height: 21px;
  display: inline-block;
  padding: 4px 12px;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;

}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  background: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;
}

.main-btn {
  padding: 13px 25px;
  border: 1px solid #E7E8E3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 6px;

}

.btn-more {
  position: relative;
  padding: 13px 25px;

  &::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 20px;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 10px 6px;

  }
}